
#video2 {
    display: none;
}
#video3 {
    display: none;
}
#video5 {
    display: none;
}
#video6 {
    display: none;
}
@-webkit-keyframes typing {
    from { width: 0 }
    to { width:16.3em }
}

@-moz-keyframes typing {
    from { width: 0 }
    to { width:16.3em }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
}



.top-wrapper video{
  width:100%;
  height:auto;
}
.top-wrapper{
  position: relative;
  margin-bottom: 100px;
}
.top-wrapper h1 {
  font-weight: 10;
  color:white;
  position: absolute;
  top:50%;
  left:auto;
    font-size:300%;
    font-weight: 100;
    width:16.3em;
    white-space:nowrap;
    overflow:hidden;
    border-right: .1em solid black;

    -webkit-animation: typing 3s steps(22, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
    -moz-animation: typing 3s steps(22, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
}

.cntents{
  margin-top:100px;
}
.section{
  width:100%
}
.list a{
  position: relative;
  text-decoration: none;
  color:black;
  display: inline-block;
  float: left;
  width:33.33333%;
  height:400px;
  margin: 0;
  -webkit-transition: all .3s;
 transition: all .3s;
}

.link img{
  width:100%;
  height:auto;
}
.inner{
  padding:22px  0 25px 0px;
  position: absolute;
  left:22px;

}

.inner p{
  margin:0;
  font-weight: 400;
  font-size: 12px;
  margin: 10px 0 10px 0;
}
.inner h3{
  margin: 0;
  font-weight: 800;
}

.list a:hover{
  -webkit-transform: translateY(-20px) ;
    -ms-transform: translateY(-20px) ;
    transform: translateY(-20px) ;
    -webkit-box-shadow: 10px 10px 10px - #777;
    -moz-box-shadow: 10px 10px 10px  #777;
    box-shadow: 10px 10px 10px  #777;

}
